.backgroundImage img {
    width: 100%;
    height: 140vh;
    opacity: 0.5;
}

.image-model {
    position: relative;
    z-index: 0;
    left: 0px;
    top: 0px;
}

.changeGlasses{
    position: relative;
}

.content {
    position: absolute;
    top: -10px;
}

.image-glass {
    position: absolute;
    z-index: 2;
    left: 12.5vh;
    margin-top: -50vh;
}

.image-glass img{
    width: 40vh;
    height: 100px;
}

.image-infor {
    position: absolute;
    z-index: 1;
    margin-top: -26vh;
    width: 72.3vh;
    width: 62vh;
    height: 60vh;
}

.image-infor p {
    font-size: 18px;
    padding: 0px 20px;

}

.image-model img{
    width: 60vh;
    height: 60vh;
}

.image-demo img{
    width: 60vh;
    height: 60vh;
}



